---
import Layout from '../layouts/Layout.astro';
import ComponentShowcase from '../components/ComponentShowcase';
---

<Layout title="Welcome to Astro.">
	<main class="p-12">
		<ComponentShowcase/>
	</main>
</Layout>
